@media screen and (min-width: 900px) {
    .full-width1-n1{
        color: azure;
        margin-left: 9cm;
        margin-top: 1cm;
    }
}

@media screen and (max-width: 900px) {
    .full-width1-n1{
        color: azure;
        margin-left: 3cm;
        margin-top: 1cm;
    }
}


@media screen and (min-width: 900px) {
    .full-width-fieldset{
        width: 500px;
        height: 500px;
        padding-top: 2cm;  
        margin-right: 20cm;
    }
} 

@media screen and (max-width: 900px) {
    .full-width-fieldset{
        width: 300px;
        height: 500px;
        padding-top: 1cm; 
        margin-left: 1cm; 
        margin-right: 20cm;
    }
}

@media screen and (min-width: 900px) {
    .botao{
        margin-right: 1px; 
    }  
}




@media screen and (max-width: 900px) {
    .botao{
        margin-right: 1px; 
    }  
}



@media screen and (min-width: 900px) {
    .full-width-nome{
        color: azure;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        margin-right: 15cm;
    }
}  

@media screen and (max-width: 900px) {
    .full-width-nome{
        color: azure;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        margin-right: 9cm;
    }
}


@media screen and (min-width: 900px) {
    .full-width-conteudo{
        color: azure;
        margin-left: 20cm;   
        margin-top: -12cm;   
    }
}

@media screen and (max-width: 900px) {
    .full-width-conteudo{
        margin-top: 3cm;
        color: azure;    
    }
}

@media screen and (min-width: 900px) {
    .full-width-redes{
        font-family: 'Times New Roman', Times, serif;
        margin-right: cm;
        margin-top: -1cm;
    }
}

@media screen and (max-width: 900px) {
    .full-width-redes{
        margin-top: 2cm;
    }
}

@media screen and (min-width: 900px) {
    .full-width-instagram{
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 1cm;
    }
}
@media screen and (max-width: 900px) {
    .full-width-instagram{
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 1cm;
        margin-left: 0.5cm;
    }
}

@media screen and (min-width: 900px) {
    .full-width-insta{
        width: 60px;
        margin-right: 5cm;
        margin-top: -2cm;
    }
}

@media screen and (max-width: 900px) {
    .full-width-insta{
        width: 25px;
        margin-right: 3cm;
        margin-top: -1.7cm;
    }
}

@media screen and (min-width: 900px) {
    .full-width-facebook{
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
        margin-left: 2cm;
        margin-top: 1cm;
    }
}

@media screen and (max-width: 900px) {
    .full-width-facebook{
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        margin-left: 1cm;
        margin-top: 1cm;
    }
}

@media screen and (min-width: 900px) {
    .full-width-face{
        width: 50px;
        margin-right: 5cm;
        margin-top: -2cm;
    }
}

@media screen and (max-width: 900px) {
    .full-width-face{
        width: 25px;
        margin-right: 5cm;
        margin-top: -1.8cm;
    }
}


@media screen and (min-width: 900px) {
    .full-width-twitter{
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 1cm;
    }
}

@media screen and (max-width: 900px) {
    .full-width-twitter{
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 1cm;
    }
}


@media screen and (min-width: 900px) {
    .full-width-tt{
        width: 50px;
        margin-right: 5cm;
        margin-top: -2cm;
    }
}

@media screen and (max-width: 900px) {
    .full-width-tt{
        width: 25px;
        margin-right: 3.5cm;
        margin-top: -1.7cm;
    }
}


@media screen and (min-width: 900px) {
    .full-width-telefone{
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
        margin-right: 6cm;
        margin-top: 1cm;
    }
}

@media screen and (min-width: 900px) {
    .full-width-tel{
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        margin-right: 6cm;
        margin-top: 1cm;
    }
}

@media screen and (min-width: 900px) {
    .full-width-email{
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
        margin-left: 6cm;
        margin-top: -2.7cm;
    }
}

@media screen and (min-width: 900px) {
    .full-width-mail{
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        margin-left: 6cm;
        margin-top: 0.9cm;
    }
}

@media screen and (min-width: 900px) {
    .full-width1-n1{
        font-size: 80px;
        font-family: 'Times New Roman', Times, serif;
        color: azure;
    }
}

@media screen and (min-width: 900px) {
    .full-width-rodape{
        padding-top: 5cm;
    } 
}


@media screen and (max-width: 900px) {
    .full-width-rodape{
        padding-top: 1cm;
    } 
}
