
.full-width-h{
    font-family: 'Times New Roman', Times, serif;
    color: aqua;
}

.full-width-p{
    color: azure;
    margin-top: 1cm;
}


@media screen and (min-width: 900px) {
    .full-width-mapa{
        color: azure;
        margin-top: 10cm;
    }
}

@media screen and (max-width: 900px) {
    .full-width-mapa{
        color: azure;
        padding-top: 15cm;
    }
}




@media screen and (min-width: 900px) {
    .full-width-ct{
        width: 195vh;
        height: 85vh;
        padding: 0px 20px 30px;
        display: flex;
        flex-direction: column;
        /* background-color: 
        rgba(22,34,57,0.99); */
    }
      
}

@media screen and (max-width: 900px) {
}

@media screen and (min-width: 900px) {
    .containerDivs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (max-width: 900px) {
    .containerDivs{
        height: vh;
    }
}

@media screen and (min-width: 900px) {
    .demoDiv1 {
        width: 500px;
        height: 500px;
        border: 5px outset rgb(252, 252, 252);
        background-color: #212529;
        font-weight: 600;
        text-align: center;
        margin-top: 4cm;
    }
}


@media screen and (max-width: 900px) {
    .demoDiv1 {
        width: 250px;
        height: 600px;
        border: 5px outset rgb(252, 252, 252);
        background-color: #212529;
        font-weight: 600;
        text-align: center;
        margin-top: 2cm;
    }
}

@media screen and (min-width: 900px) {
    .demoDiv {
        width: 500px;
        height: 500px;
        border: 5px outset rgb(252, 252, 252);
        background-color: #212529;
        font-weight: 600;
        text-align: center;
        margin-top: 4cm;
    }
}

@media screen and (max-width: 900px) {
    .demoDiv {
        width: 250px;
        height: 500px;
        border: 5px outset rgb(252, 252, 252);
        background-color: #212529;
        font-weight: 600;
        text-align: center;
        margin-top: 2cm;
    }
}



@media screen and (max-width: 900px) {
    .full-width-p{
        color: azure;
        margin-top: cm;
    }
}



@media screen and (min-width: 900px) {
    .full-width-rodape{
        padding-top: cm;
    } 
}

@media screen and (max-width: 900px) {
}


@media screen and (min-width: 900px) {
 
}

@media screen and (max-width: 900px) {
}



@media screen and (min-width: 900px) {
    .full-width-rodape{
        font-family: 'Times New Roman', Times, serif;
        padding-top: 1cm;
    } 
}

@media screen and (max-width: 900px) {
}

