@media screen and (min-width: 900px) {

}


#body{

    background-color: 
    rgba(22,34,57,0.99);  
} 

@media screen and (min-width: 900px) {
    .full-width-logo{
        padding-left: 3cm;
    
    }
}

@media screen and (max-width: 900px) {
    .full-width-logo{
        padding-left: 1cm;
    }
}


.nav-item-home{
    padding: auto;
    padding-left: 150%;
}

.nav-item-nos{
    padding-left: 1cm;
}

.nav-item-blog{
    padding-left: 1cm;
}

.nav-item-login{
    padding-left: 1cm;
}

.nav-item-contato{
    padding-left: 1cm;
}

.nav-item-mapa{
    padding-left: 1cm;
}

.nome{
    color: azure;
}

.full-width-rodape{
    padding-top: cm;
} 
